﻿@model HelloMVC.Models.Product

<h2>Purchase Details</h2>

<fieldset>
    <legend>PurchaseDetail</legend>

    <div class="editor-label">
        @Html.LabelFor(model => model.PurchaseDetail.MerchantName)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.PurchaseDetail.MerchantName)
        @Html.ValidationMessageFor(model => model.PurchaseDetail.MerchantName)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.PurchaseDetail.Address.Location)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.PurchaseDetail.Address.Location)
        @Html.ValidationMessageFor(model => model.PurchaseDetail.Address.Location)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.PurchaseDetail.Address.State)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.PurchaseDetail.Address.State)
        @Html.ValidationMessageFor(model => model.PurchaseDetail.Address.State)
    </div>
    
    <div class="editor-label">
        @Html.LabelFor(model => model.PurchaseDetail.PurchaseDate)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.PurchaseDetail.PurchaseDate)
        @Html.ValidationMessageFor(model => model.PurchaseDetail.PurchaseDate)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.PurchaseDetail.UsedFor)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.PurchaseDetail.UsedFor)
        @Html.ValidationMessageFor(model => model.PurchaseDetail.UsedFor)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.PurchaseDetail.Price)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.PurchaseDetail.Price)
        @Html.ValidationMessageFor(model => model.PurchaseDetail.Price)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.PurchaseDetail.Warranty)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.PurchaseDetail.Warranty)
        @Html.ValidationMessageFor(model => model.PurchaseDetail.Warranty)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.PurchaseDetail.WarrantyEndsOn)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.PurchaseDetail.WarrantyEndsOn)
        @Html.ValidationMessageFor(model => model.PurchaseDetail.WarrantyEndsOn)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.PurchaseDetail.ExtendedWarrantyDetailsName)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.PurchaseDetail.ExtendedWarrantyDetailsName)
        @Html.ValidationMessageFor(model => model.PurchaseDetail.ExtendedWarrantyDetailsName)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.PurchaseDetail.ExtendedWarranty)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.PurchaseDetail.ExtendedWarranty)
        @Html.ValidationMessageFor(model => model.PurchaseDetail.ExtendedWarranty)
    </div>
</fieldset>
