﻿@model HelloMVC.Models.PurchaseDetail

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>PurchaseDetail</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MerchantName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MerchantName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PurchaseDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PurchaseDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UsedFor)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UsedFor)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Price)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Price)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Warranty)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Warranty)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.WarrantyEndsOn)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WarrantyEndsOn)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ExtendedWarrantyDetailsName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ExtendedWarrantyDetailsName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ExtendedWarranty)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ExtendedWarranty)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
