﻿@model HelloMVC.Models.PurchaseDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>PurchaseDetail</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MerchantName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MerchantName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PurchaseDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PurchaseDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UsedFor)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UsedFor)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Price)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Price)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Warranty)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Warranty)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.WarrantyEndsOn)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WarrantyEndsOn)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ExtendedWarrantyDetailsName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ExtendedWarrantyDetailsName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ExtendedWarranty)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ExtendedWarranty)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.PurchaseDetailId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
