﻿@model HelloMVC.Models.PurchaseDetail

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>PurchaseDetail</legend>

        @Html.HiddenFor(model => model.PurchaseDetailId)

        <div class="editor-label">
            @Html.LabelFor(model => model.MerchantName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MerchantName)
            @Html.ValidationMessageFor(model => model.MerchantName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PurchaseDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PurchaseDate)
            @Html.ValidationMessageFor(model => model.PurchaseDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UsedFor)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UsedFor)
            @Html.ValidationMessageFor(model => model.UsedFor)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Price)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Price)
            @Html.ValidationMessageFor(model => model.Price)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Warranty)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Warranty)
            @Html.ValidationMessageFor(model => model.Warranty)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.WarrantyEndsOn)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.WarrantyEndsOn)
            @Html.ValidationMessageFor(model => model.WarrantyEndsOn)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ExtendedWarrantyDetailsName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ExtendedWarrantyDetailsName)
            @Html.ValidationMessageFor(model => model.ExtendedWarrantyDetailsName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ExtendedWarranty)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ExtendedWarranty)
            @Html.ValidationMessageFor(model => model.ExtendedWarranty)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
