﻿@model IEnumerable<HelloMVC.Models.PurchaseDetail>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MerchantName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PurchaseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UsedFor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Warranty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WarrantyEndsOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExtendedWarrantyDetailsName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExtendedWarranty)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MerchantName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PurchaseDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UsedFor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Warranty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WarrantyEndsOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExtendedWarrantyDetailsName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExtendedWarranty)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PurchaseDetailId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PurchaseDetailId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PurchaseDetailId })
        </td>
    </tr>
}

</table>
