﻿@using System.Collections
@using HelloMVC.Models

@{
    ViewBag.Title = "All Friends";
}

<h2>My Friends</h2>

@foreach(dynamic user in Model)
{

    @(LinkExtensions.ActionLink(Html, user.name, "AboutFriend", new { id = user.id })) <br />
}