﻿@using HelloMVC.Models

@model Product

<h2>Service/Repair Details</h2>

<fieldset>
    <legend>ServiceRepairDetail</legend>

    <div class="editor-label">
        @( Html.LabelFor<Product, string>(model => model.ServiceRepairDetails[0].Title) )
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.ServiceRepairDetails[0].Title)
        @Html.ValidationMessageFor(model => model.ServiceRepairDetails[0].Title)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.ServiceRepairDetails[0].Date)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.ServiceRepairDetails[0].Date)
        @Html.ValidationMessageFor(model => model.ServiceRepairDetails[0].Date)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.ServiceRepairDetails[0].Description)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.ServiceRepairDetails[0].Description)
        @Html.ValidationMessageFor(model => model.ServiceRepairDetails[0].Description)
    </div>
</fieldset>
