﻿@model HelloMVC.Models.Product

<h2>Previous Owner</h2>

<fieldset>
    <legend>PreviousOwner</legend>

    <div class="editor-label">
        @Html.LabelFor(model => model.PreviousOwners[0].Name)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.PreviousOwners[0].Name)
        @Html.ValidationMessageFor(model => model.PreviousOwners[0].Name)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.PreviousOwners[0].OwnershipPeriodStart)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.PreviousOwners[0].OwnershipPeriodStart)
        @Html.ValidationMessageFor(model => model.PreviousOwners[0].OwnershipPeriodStart)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.PreviousOwners[0].OwnershipPeriodEnd)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.PreviousOwners[0].OwnershipPeriodEnd)
        @Html.ValidationMessageFor(model => model.PreviousOwners[0].OwnershipPeriodEnd)
    </div>
</fieldset>
