﻿@model HelloMVC.Models.PreviousOwner

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>PreviousOwner</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OwnershipPeriodStart)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OwnershipPeriodStart)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OwnershipPeriodEnd)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OwnershipPeriodEnd)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.PreviousOwnerId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
