﻿@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>
}
<h3>Getting Started:</h3>
<ol class="round">
    <li class="one">
        Either login using Facebook ID or Create an account.
        <br/>
        <br/>
    </li>

    <li class="two">
        Provide information about you
        <br/>
        <br/>
    </li>

    <li class="three">
        Add sales and track them. Done!
        <br/>
        <br/>
    </li>
</ol>
