﻿@using HelloMVC.Models
@model HelloMVC.Models.Product

@{
    ViewBag.Title = "Product Details";
}

<h2>Product Details</h2>

@using (Html.BeginForm("Create", "Product")) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Product</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.DisplaySubject)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DisplaySubject)
            @Html.ValidationMessageFor(model => model.DisplaySubject)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ModelName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ModelName)
            @Html.ValidationMessageFor(model => model.ModelName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SerialNo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SerialNo)
            @Html.ValidationMessageFor(model => model.SerialNo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ItemModelNo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ItemModelNo)
            @Html.ValidationMessageFor(model => model.ItemModelNo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.WebSite)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.WebSite)
            @Html.ValidationMessageFor(model => model.WebSite)
        </div>
        
            @Html.LabelFor(model => model.Weight)
        <div class="editor-label">
            @Html.EditorFor(model => model.Weight)
            @Html.ValidationMessageFor(model => model.Weight)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.Dimension.Width)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Dimension.Width)
            @Html.ValidationMessageFor(model => model.Dimension.Width)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.Dimension.Height)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Dimension.Height)
            @Html.ValidationMessageFor(model => model.Dimension.Height)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.Dimension.Depth)
        </div>
        <div class="editor-field">
            
            @Html.EditorFor(model => model.Dimension.Depth)
            @Html.ValidationMessageFor(model => model.Dimension.Depth)
        </div>
        
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Category.Name, Enumerable.Empty<SelectListItem>())
            @Html.ValidationMessageFor(model => model.Category.Name)
        </div>

        <div class="editor-field">
            @Html.DropDownListFor(model => model.SubCategory.Name, Enumerable.Empty<SelectListItem>())
            @Html.ValidationMessageFor(model => model.SubCategory.Name)
        </div>

        @{
            Html.RenderAction("Create", "PurchaseDetail");
            Html.RenderAction("Create", "PreviousOwner"); 
            Html.RenderAction("Create", "ServiceRepair");
        }
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
